* {
    text-decoration: none;
    margin: 0px;
    padding:0px;
}

body{
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 60, 168);
    padding: 0px 10px 0px 10px;
    margin-left: 30px;
 }

 .menu {
     float: right;
 }

 nav{
     width: 100%;
     margin: auto;
     display: flex;
     position: sticky;
     line-height: 80px;
     position: -webkit-sticky;
     top: 0%;
     background: #ffffff;
     z-index: 1;
     animation: nav-load 0.5s ease-in;
     background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
 }

 nav ul {
     list-style-type: none;
     margin: 0%;
     padding: 0%;
     overflow: hidden;
 } 

 nav ul li{
    float: left;
    animation-name: nav-link-load;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    transform: scale(0);

 }

 nav ul li a{
     color: black;
     font-weight: bold;
     text-align: center;
     padding: 0px 16px 0px 16px;
     text-decoration: none;


 }

 nav ul li a:hover {
     text-decoration: underline;

 }

 #home {
     display: flex;
     margin-top: 100px;
     margin-bottom: 100px;
 }
#home img {
     animation: image-load 0.5s ease-out 0.5s ;
     animation-fill-mode: forwards;
     transform: scale(0);
 }

 section{
     margin: auto;
     margin-bottom: 50px;
 }

 .kolom{
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 100px;
    animation: article-load 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;

 }

 .kolom .deskripsi{
     font-size: 22px;
     font-weight: bold;
     font-family: 'comic sans ms';
     color: rgb(2, 60, 168);
     margin-bottom: 5px;
 }

 h2{
    font-size: 45px;
    font-weight: 800;
    font-family: 'comic sans ms';
    margin-bottom: 20px;
    color: rgb(221, 207, 3);
    width: 100%;
    line-height: 50px;

 }

 a.tbl-biru {
     background-color: rgb(221, 207, 3);
     border-radius: 20px;
     margin-top: 20px;
     padding: 15px 20px 15px 20px;
     cursor: pointer;
     font-weight: bold;
     transition: 0.5s;
 }

 a.tbl-biru:hover {
     background-color: rgb(4, 142, 255);
     text-decoration: none;
     transition: 0.5s;
 }

 a.tbl-pink {
    background-color: rgb(4, 142, 255);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
 }
 a.tbl-pink:hover {
    background-color: rgb(221, 207, 3);
    text-decoration: none;
    transition: 0.5s;
 }

 p{
     margin: 5px 0px 5px 0px;
     padding: 10px 0px 10px 0px;
 }
#alurpendaftaran {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 500px;
}
.icon {
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    padding: 2px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
.icon img {
    width: 100%;
}
.icon:hover img {
    transform: scale(1.2);
    transition: 0.8s;
}

#test {
    text-align: center;
    margin-top: 750px;
}

#test img {
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.skdtest {
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.main {
    margin-left: 300px;
    border-radius: 5px;
    width: 400px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.main h4 {
 margin: 0 40px;
 padding: 15px;
 color: #0092e6;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

.main .border {
    width: 70px;
    height: 3px;
    background: #00b8e6;
    margin: 1px auto;
}

.main input {
    padding: 10px 0;
    margin-bottom: 30px;
}

.main textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.main input, .main textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline:  none;
    border: none;
    border-bottom: 2px solid #999;
}

.main textarea {
    margin-bottom: 20px;
}

.main input [type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #0092e6;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.main input [type="submit"]:hover {
    background: #00b8e6;
}

.sosmed {
    margin-top: 100px;
    text-align: center;
}

.medsos {
    margin-top: 50px;
    margin-left: 240px;
    float: left;
    transform: scale(3);
}

.sosmed h4 {
    font-size: 30px;
}

footer {
	padding: 50px;
	text-align: center;
    margin-top: 100px;
}
footer small {
	color: #333;
}
html {
    scroll-behavior: smooth;
}

@keyframes nav-load {
    0% {
transform: translateY(-100%);
    }

    100%{
transform: translateY(0);
    }
}

@keyframes nav-link-load {
    0% {
transform: scale(0);
    }

    90% {
transform: scale(1.1);
    }

    100%{
transform: scale(1);
    }
}

@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes image-load {
    0% {
        transform: scale(0);
            }
        
            90% {
        transform: scale(1.1);
            }
        
            100%{
        transform: scale(1);
            }
}